<%include ./partials/header %>


    <div id="bg-image" class="container-fluid">
        <div class="container">
            <div class="row">
                <div id="scroll-index" class="col s1 hide-on-small-only offset-m11 offset-l12">
                    <div class="pushpin">
                        <ul class="section table-of-contents">
                            <li><a href="#title-parallax">About Us</a></li>
                            <li><a href="#service-index">Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id='titleContainer' class="row">
                <div class="col s12 center-align">
                    <div id='title-parallax' class="parallax-container section scrollspy">
                        <h1 id='about-title' class='hide-on-med-and-down'>About Us</h1>
                        <h5 class='hide-on-large-only'>About Us</h5>
                        <div class="container">
                            <div id='title-sub' class="row">
                                <div class="col s12 center-align">
                                    <div class="divider"></div>
                                    <h5 class='white-text flow-text'>Our prices are <span class="bolded"> competitive</span>, if not always the cheapest. We only use, <span class="bolded">authentic</span> components and, suppliers who are highly <span class="bolded">credible</span>.</h5>
                                    <div class="divider"></div>
                                </div>
                                <div class="divider"></div>
                                <!--<div class="col s12 center-align about-text">-->
                                <!--      <div class="divider"></div>-->
                                <!--    <h4 class='cener-align'>-->
                                <!--      <span>Hardware Reseller</span><span>Network Cabling</span><span>IT Servicing</span>     -->
                                <!--      </h4>-->
                                <!--    <h5>-->
                                <!--      Our market prices are competitive, if not always the cheapest.  We only use, quality authentic components and, suppliers who are highly credible.  -->
                                <!--      </h5>-->
                                <!--      <div class="divider"></div> -->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="parallax"><img src="images/blurred_lines.jpg"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="titleIndex"></div>

            <div class="container segment">
                <div class="row section scrollspy" id="about">
                    <div class="col s12 m11 l12">
                        <div class="section scrollspy center-align">

                            <div class="col s12 l4">
                                        <div class="card">
                                        <div class="card-image">
                                            <img src="/images/vision.jpg">
                                            <span class="card-title">
                                                <i class="material-icons">remove_red_eye</i> Vision</span>
                                        </div>
                                        <div class="card-content">
                                            <p>IT solutions provider via our continous high quality services to our 
                                                    client base while building more avenues for deleopment, to tap into and meet the demand of the expanding IT market.</p>
                                        </div>
                                        </div>

                                                    
                                <!-- <div class="circleBg">
                                    <div id='vision' class="about-svg"></div>
                                </div>
                                <ul class="collapsible">
                                    <li>
                                        <div class="collapsible-header center-align">
                                            <h4 class="sub-title">Vision</h4>
                                        </div>
                                        <div class="collapsible-body">
                                            <h6 class="flow-text">To become a leading IT solutions provider via our continous high quality services to our 
                                            client base while building more avenues for deleopment, to tap into and meet the demand of the expanding IT market.
                                            </h6>
                                        </div>
                                    </li>
                                </ul> -->
                            </div>
                            <div class="col s12 l4">

                                            <div class="card">
                                              <div class="card-image">
                                                <img src="/images/mission.jpg">
                                                <span class="card-title">
                                                    <i class="material-icons">flag</i> Mission</span>
                                              </div>
                                              <div class="card-content">
                                                <p>To effectively fulfill the needs and IT requirements of all our 
                                                        clients with the competitive edge of immediacy, efficiency and high quality service.
                                                        </p>
                                              </div>
                                            </div>
                                                    
                                <!-- <div class="circleBg">
                                    <div id='mission' class="about-svg"></div>
                                </div>
                                <ul class="collapsible">
                                    <li>
                                        <div class="collapsible-header center-align">
                                            <h4 class="sub-title">Mission</h4>
                                        </div>
                                        <div class="collapsible-body">
                                            <h6 class="flow-text">To effectively fulfill the needs and IT requirements of all our 
                                            clients with the competitive edge of immediacy, efficiency and high quality service.
                                            </h6>
                                        </div>
                                    </li>
                                </ul> -->
                            </div>
                            <div class="col s12 l4">
                                            <div class="card">
                                              <div class="card-image">
                                                  <!-- <div class="row">
                                                      <div class="dual-img col s6"> -->
                                                            <!-- Image in about.css .card-image .col -->
                                                      <!-- </div>
                                                      <div class="dual-img col s6"> -->
                                                             <!-- Image in about.css .card-image .col -->
                                                      <!-- </div>
                                                  </div> -->
                                                  <img id="card_img" src="/images/SAndW.jpg">
                                                
                                                <span class="card-title">
                                                    <i class="material-icons">beenhere</i> Values</span>
                           
                                              </div>
                                              <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                                                <li class="tab"><a href="#test1">Service</a></li>
                                                <li class="tab"><a class="active" href="#test2">Workmanship</a></li>
                                              </ul>
                                              <div class="card-content">
                                                <p id="test1">Our main objective is to provide a consistently available and 
                                                    reliable IT and Network servicing solutions to the customers satifaction.</p>
                                                  <p id="test2" >Connet was established in
                                                      1999 with each employee having over 25 years of IT workforce experience.</p>
                                                    <!-- <p>We are a highly trained and experienced workforce with Connet being established 
                                                        in 1999 with each staff member having 10 years of IT experience prior to its founding.</p> -->
                                              </div>
                                              
                                            </div>
                                            
                                                    
                                <!-- <div class="circleBg">
                                    <div id='values' class="about-svg"></div>
                                </div>
                                <ul class="collapsible">
                                    <li>
                                        <div class="collapsible-header center-align">
                                            <h4 class="sub-title">Values</h4>
                                        </div>
                                        <div class="collapsible-body">
                                            <ul class="collapsible">
                                                <li>
                                                    <div class="collapsible-header center-align">
                                                        <h5 class='value-heading'>Service</h5>
                                                    </div>
                                                    <div class="collapsible-body">
                                                        <h6 class='flow-text'>Our main objective is to provide a consistantly available and 
                                                        reliable servicing solutions to the customers satifaction.</h6>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="collapsible-header center-align">
                                                        <h5 class='value-heading'>Workmanship</h5>
                                                    </div>
                                                    <div class="collapsible-body">
                                                        <h6 class='flow-text'>We are a highly trained and experienced workforce with Connet being established 
                                                        in 1999 with each staff member having 10 years of IT experience prior to its founding.</h6>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                    <div id='service-index' class="parallax-container section scrollspy ">
                            <h1 id='about-title' class='center-align hide-on-med-and-down'>Services</h1>
                            <h5 class='center-align hide-on-large-only'>Services</h5>
                            <div class="parallax"><img src="images/blurred_lines.jpg"></div>
                        </div>
            </div>


        <div id='service' class="container">

                <div class="row">
                        <div class="col s2 m4"></div> 
                        <div class="col s8 m4">
                                <h5 class="service-sub"><i class="material-icons">settings_input_composite</i> Network Cabling</h5>
                        </div>
                        <div class="col s2 m4"></div>
                        <div class="col s12">
                                <div class="card">
                        
                                        <div class="card-content">
    
                                        <h6><i class="material-icons">router</i> Server Setup</h6>
                                        
                                          <p>Connet provides all leading major brands of Copper connectivity as well as Optical connectivity systems for Campus and Data Center environments. </p>
                                          <h6><i class="material-icons">settings_input_antenna</i> Specialized Networks</h6>
                                              <p> We provide specialized installation, design, maintainence and client support. With Indoor, Outdoor, Point to Point wireless solutions.
                                          </p>
                                        </div>
                
                                    </div>
                            <!-- <h4>Network Cabling</h4>
                            <div class="divider"></div>
                            <h5 class="flow-text">
                                Connet provides all leading major brands of Copper connectivity as well as Optical connectivity systems for Campus and Data Center environments.
                            </h5>
                            <h5 class="flow-text">
                                We provide specialized installation, design, maintainence and client support. With Indoor, Outdoor, Point to Point wireless solutions.
                            </h5>
                            <div class="divider"></div> -->
                        </div>
                </div>
                <div class="row">
                        <div class="col s2 m4"></div> 
                        <div class="col s8 m4">
                                <h5 class="service-sub"><i class="material-icons">computer</i> Computer Setup</h5>
                        </div>
                        <div class="col s2 m4"></div>
                        <div class="col s12">
                                <div class="card">
                                        
                                        <div class="card-content">
                                       
                                        <h6><i class="material-icons">business</i> Off Site Assembly</h6>
                                          <p>We purchase the components of an order for which we do assembly and software installation off site then deliver the working product to the customer. </p>
                                        
                                        <h6><i class="material-icons">timer</i> Delivery Time</h6>
                                           <p>The estimated time of assembly is dependant on the size of the order, however, assembly has a usual wait time of 48 hours and any deviation will be communicated to the customer on order.</p>
                
                                        </div>
                
                                    </div>
                        </div>
                            
                        <!-- <div class="col s2 white">
                            <i class="large material-icons">build</i>
                        </div>
                        <div class="col s10 white">
                            <h4>Maintainence</h4>
                            <div class="divider"></div>
                            <p>
                                We purchase the components of an order for which we do assembly and installation off site then deliver the working product to the customer.
                            </p>
                            <p>
                                The estimated time of assembly is dependant on the size of the order, however, assembly has a usual wait time of 48 hours and any deviation will be communicated to the customer on order.
                            </p>
                            <div class="divider"></div> -->
                        </div>

                </div>

  
                <!-- <div class="divider"></div> -->

                <!-- <div class="col s12">-->
                <!--  <h4 class="center-align">Backup Services</h4>-->
                <!--     <div class="divider"></div> -->
                <!--     <h5 class="center-align">-->

                <!--     </h5> -->
                <!--     <h5 class="center-align">-->
                <!--     The estimated time of assembly is dependant on the size of the order, however, assembly has a usual wait time of 48 hours and any deviation will be communicated to the customer on order.  -->
                <!--     </h5>-->
                <!--     <div class="divider"></div>   -->
                <!--</div>-->

            </div>
        </div>
    </div>


    </div>
    </div>
    </div>






    <%include ./partials/footer %>
