<%include ./partials/header %>

<div id="bg-image" class="container-fluid">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div id="home-animation" class="col s12 center-align">
                <div id="logo-container">
                    <div class='logoCircle hide-on-small-only'></div>
                    <div class="logoSvg hide-on-small-only">
                        <svg width="626" height="360" version="1.1" viewBox="0 0 149.07 85.725"
                            xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <filter id="filter6931" color-interpolation-filters="sRGB">
                                    <feFlood flood-color="rgb(0,0,0)" flood-opacity=".47451" result="flood" />
                                    <feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" />
                                    <feGaussianBlur in="composite1" result="blur" stdDeviation="0.8" />
                                    <feOffset dx="0.641667" dy="0.8" result="offset" />
                                    <feComposite in="SourceGraphic" in2="offset" result="composite2" />
                                </filter>
                                <filter id="filter6943" color-interpolation-filters="sRGB">
                                    <feFlood flood-color="rgb(0,0,0)" flood-opacity=".47451" result="flood" />
                                    <feComposite in="flood" in2="SourceGraphic" operator="in" result="composite1" />
                                    <feGaussianBlur in="composite1" result="blur" stdDeviation="0.8" />
                                    <feOffset dx="0.6" dy="0.8" result="offset" />
                                    <feComposite in="SourceGraphic" in2="offset" result="composite2" />
                                </filter>
                            </defs>
                            <g transform="translate(.90975 -185.73)" filter="url(#filter6931)">
                                <path
                                    d="m64.863 251.86a34.745 34.1 0 0 1-41.99 6.7115 34.745 34.1 0 0 1-17.134-38.217 34.745 34.1 0 0 1 33.41-25.849 34.745 34.1 0 0 1 33.864 25.273"
                                    fill="none" stroke="#fffffe" stroke-width="9.0487" />
                            </g>
                            <g transform="translate(77.023 -186.81)" filter="url(#filter6943)">
                                <path
                                    d="m6.374 204.77a34.16 34.16 0 0 1 41.621-5.2026 34.16 34.16 0 0 1 15.288 39.059 34.16 34.16 0 0 1-34.094 24.432 34.16 34.16 0 0 1-32.072-27.031"
                                    fill="none" stroke="#fff" stroke-width="9.0507" />
                            </g>
                        </svg>
                    </div>

                </div>
                <div id="homeCarousel" class="carousel carousel-slider" data-indicators="true">
                    <a id='welcomeCar' class="carousel-item" href="#one!">
                        <div class="caption">
                            <h2 id="introText" class="letters">Welcome</h2>
                            <h5 class="light grey-text text-lighten-3 sub-text">We are a Computer Reseller and Service
                                Business.</h5>
                        </div>
                        <!--<img src="/images/logo-back1.jpg">-->
                    </a>
                    <a id='networkCar' class="carousel-item" href="#two!">
                        <div class="afterFirst caption">
                            <h1 class="white-text letters">Networking</h1>
                            <h5 class="light grey-text text-lighten-3 sub-text">Connet provides professional network and
                                server setup.</h5>
                        </div>
                        <!--<img src="/images/server.jpg">-->
                    </a>
                    <a id='techCar' class="carousel-item" href="#three!">
                        <div class="afterFirst caption">
                            <h1 class="white-text letters">Technology</h1>
                            <h5 class="light grey-text text-lighten-3 sub-text">We supply cutting edge and up-to-date
                                hardware & software.</h5>
                        </div>
                        <!--<img src="/images/laptop.jpg">-->
                    </a>
                    <!--<a class="carousel-item" href="#four!"><img src="/images/service.jpg"></a>-->
                </div>
            </div>
        </div>
    </div>
    <!--<div class="shadow"></div>-->
    <div class="container-fluid ">
        <div class="container segment">
            <div class='row'>
                <div class='col s12 m6 l3'>
                    <a href="/products" class="provision waves-effect waves-blue center-align">
                        <!--<div class="shapeshifter"></div>-->
                        <img src="/images/shop(homepage).jpg" alt="Shop Home Page">
                        <div class="btn btn-large white black-text ">Computer
                            Sales</div>
                    </a>
                </div>
                <div class='col s12 m6 l3'>
                    <a href="/about" class="provision waves-effect waves-blue center-align">
                        <!--<div class="shapeshifter wrench"></div>-->
                        <img src="/images/service3.jpg" alt="Service Page">
                        <div class="btn btn-large white black-text ">
                            Maintainence</div>
                    </a>
                </div>
                <div class='col s12 m6 l3'>
                    <a href="/about" class="provision waves-effect waves-blue center-align">
                        <!--<div class="shapeshifter router"></div>-->
                        <img src="/images/network2.jpg" alt="Network Services">
                        <div class="btn btn-large white black-text ">Network
                            Cabling</div>
                    </a>
                </div>
                <div class='col s12 m6 l3'>
                    <a href="/about" class="provision waves-effect waves-blue center-align">
                        <!--<div class="shapeshifter backup"></div>-->
                        <img src="/images/backup.jpg" alt="Backup Services">
                        <div class="btn btn-large white black-text " >backup
                            services</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container segment">
        <div id="about-home" class='row curveBorder'>
            <div class="home-subhead">
                <h1 class="center-align">About</h1>
            </div>
            <div class="row about-row hoverable">
                <a href='/about'>
                    <div class="col s3 l3 xl2">
                        <img class="aboutCircle" src="/images/connet-wrk.jpg" alt="More About Us">
                    </div>
                    <div class="col s9 l9 xl10 section flow-text">
                        <h4 class='hide-on-small-only'>Who are We</h4>
                        <h4 class='hide-on-med-and-up'>Who are We</h4>
                        <h5 class='truncate'>We are an experienced and crediable computer reseller and service business
                            who has built...</h5>
                    </div>
                </a>
            </div>
            <div class="row about-row hoverable">
                <a class="modal-trigger" href="#emailForm">
                    <div class="col s3 l3 xl2">
                        <img class="aboutCircle" src="/images/email2.jpg" alt="Contact Us">
                    </div>
                    <div class="col s9 l9 xl10 section flow-text">
                        <h4 class='hide-on-small-only'>Direct Service</h4>
                        <h4 class='hide-on-med-and-up'>Service</h4>
                        <h5 class='truncate'>We provide quoting and service on request via email or call.</h5>

                    </div>
                </a>
            </div>
            <div class="row about-row hoverable">
                <a href='#'>
                    <div class="col s3 l3 xl2">
                        <img class="aboutCircle" src="/images/deliveryv2-bg.jpg" alt="Request Quote">
                    </div>
                    <div class="col s9 l9 xl10 section flow-text">
                        <h4 class='hide-on-small-only'>Online Pricelist</h4>
                        <h4 class='hide-on-med-and-up'>Pricelist</h4>
                        <h5 class='truncate'>Connet has an integrated online price-list, quoting system portal.</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container segment">
        <div id="brand-home" class="row curveBorder">
            <div class="home-subhead">
                <h1 class="center-align">Brands</h1>
            </div>
            <div id="carousel-row" class="col s12">
                <div id='brandCarousel' class="carousel">
                    <a class="carousel-item" href="https://www.asus.com/za/"><img src=" /logos/Asus.png" alt="https://www.asus.com/za/"></a>
                    <a class="carousel-item" href="https://www.acer.com/ac/en/US/content/home"><img src=" /logos/acer.png" alt="https://www.acer.com/ac/en/US/content/home"></a>
                    <a class="carousel-item" href="https://www.canon.co.za/"><img src=" /logos/Canon.png" alt="https://www.canon.co.za/"></a>
                    <a class="carousel-item" href="https://www.dell.co.za/"><img src=" /logos/Dell.png" alt="https://www.dell.co.za/"></a>
                    <a class="carousel-item" href="https://www.cisco.com/c/en_za/index.html"><img src=" /logos/Cisco.png" alt="https://www.cisco.com/c/en_za/index.html"></a>
                </div>
            </div>
        </div>
    </div>




    <%include ./partials/footer %>