                <!--<div id='provide-content' class="row">-->
                <!--  <div class="col s10 m6 l4 homeCircle">-->
                <!--    <div id='hardware' class="parallax-container center-align ">-->
                <!--          <div class="circleContent">-->
                <!--                <div class="shapeshifter"></div>-->
                <!--            <h4 class='white-text'>PC Hardware</h4>-->
                <!--           <div class="underline"></div>-->
                <!--           <h5 class='white-text flow-text'>A wide range of quality products from creditable suppliers.</h5>-->
                <!--<a class="waves-effect btn-small white black-text" href="/about">View Products</a>-->
                <!--        </div>-->
                <!--      <div class="parallax">-->
                <!--          <img src="/images/laptopv2.jpg">-->
                <!--          <i class="material-icons">laptop</i>-->
                <!--      </div>-->
                <!--     </div>-->
                <!--  </div>    -->
                <!--  <div class="col s10 m6 l4 homeCircle">-->
                <!--    <div id='services' class="parallax-container center-align">-->
                <!--        <div class="circleContent">-->
                <!--            <div class="shapeshifter wrench"></div>-->
                <!--            <h4 class='white-text'>PC Services</h4>-->
                <!--           <div class="underline"></div>-->
                <!--           <h5 class='white-text flow-text'>Service and maintenance which is prompt and reliable. </h5>-->
                <!--        </div>-->

                <!--    <div class="parallax">-->
                <!--        <img src="/images/wrenchv2.jpg">-->
                <!--    </div>-->
                <!--     </div>-->
                <!--  </div>    -->
                <!--  <div class="col s10 m12 l4 homeCircle">-->
                <!--    <div id='network' class="parallax-container center-align ">-->
                <!--        <div class="circleContent">-->
                <!--            <div class="shapeshifter router"></div>-->
                <!--         <h4 class="white-text">Network Setup</h4>-->
                <!--         <div class="underline"></div>-->
                <!--         <h5 class="white-text flow-text">Effecient and effective network setup to the customers satisfaction. </h5>-->
                <!--        </div>-->

                <!--        <div class="parallax">-->
                <!--            <img src="/images/cablingv2.jpg">-->
                <!--        </div>-->
                <!--     </div>-->
                <!--  </div>-->
                <!--</div>-->
                <!--<div class="sm-shadow"></div>-->
                <!-- </div>-->