<%include ../partials/header %>

<ul class="sidenav collection" id="mobile-demo">
  <li class="collection-item avatar">
    <a href="/"><i class="material-icons circle">folder</i>Home</a>
  </li>
</ul>



<%include ../partials/footer %>