<%include ../partials/header %>



  <div id="bg-image" class="container-fluid">
    <div class="container">
      <div class="row">
        <div id="scroll-index" class="col s1 hide-on-small-only offset-m11 offset-l12">
          <div class="pushpin">
            <ul class="section table-of-contents">
              <li><a href="#title-parallax">Our Products</a></li>
              <li><a href="#tab-swipe">Featured</a></li>
              <li><a href="#product-list">Browse</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id='titleContainer' class="row">
        <div class="col s12 center-align">
          <div id='title-parallax' class="parallax-container section scrollspy">
            <div class="parallax"><img src="/images/blurPhone.jpg"></div>
            <h1 id='product-title' class='hide-on-med-and-down'>Products</h1>
            <h5 class='hide-on-large-only'>Products</h5>
          </div>
        </div>
        <div class="col s12 center-align">
            <h3 id='feature-text'>featured</h3>
            <div id='featureCarousel' class="carousel">
              <div class="car-content">
                <div class="hovereffect carousel-item ">
                  <img src="../images/intelFeatured.jpg" alt="">
                  <div class="overlay">
                    <h2>High Performance Processors</h2>
                    <a class="info" href="https://www.intel.com/content/www/us/en/homepage.html">View</a>
                  </div>
                </div>
                <!--<div class="shadow"></div>-->
              </div>
  
              <div class="hovereffect carousel-item">
                <img class="img-responsive" src="../images/dellFeatured.jpg" alt="">
                <div class="overlay">
                  <h2>Desktops, Laptops, Tablets...</h2>
                  <a class="info" href="https://www.dell.com/en-us">View</a>
                </div>
                
              </div>
              <div class="hovereffect carousel-item">
                <img class="img-responsive" src="../images/microsoftFeatured.jpg" alt="">
                <div class="shadow"></div>
                <div class="overlay">
                  <h2>Software Solutions</h2>
                  <a class="info" href="https://www.microsoft.com/en-za">View</a>
                </div>
  
              </div>
  
  
            </div>
          </div>
      </div>
    </div>
    <!--<div class="container">-->
    <!--<div id='title-sub' class="row">-->
    <!--    <div class="col s12 l4 center-align">-->
    <!--      <img class='featuredLogo' src="/logos/intel-i.png">-->
    <!--<div class="divider"></div>-->
    <!--<h4 class='white-text flow-text'>Hardware Reseller</h4>-->
    <!--<div class="divider"></div>-->
    <!--        <img class='featuredImage' src="/images/intelv2.jpg">-->
    <!--    </div>  -->
    <!--    <div class="col s12 l4 center-align vertical-align">-->
    <!--        <div class="divider"></div>-->
    <!--        <h4 class='white-text flow-text'>Network Cabling</h4>-->
    <!--        <div class="divider"></div>-->
    <!--    </div>  -->
    <!--    <div class="col s12 l4 center-align vertical-align">-->
    <!--        <div class="divider"></div>-->
    <!--        <h4 class='white-text flow-text'>IT Servicing</h4>-->
    <!--        <div class="divider"></div>-->
    <!--    </div>        -->
    <!--    <div class="col s12 center-align">-->
    <!--        <h5 class='white-text flow-text'>Our market prices are competitive, if not always the cheapest.  We only use, quality authentic components and, suppliers who are highly credible.</h5>-->

    <!--    </div>-->
    <!--    <div class="divider"></div>-->
    <!--<div class="col s12 center-align about-text">-->
    <!--      <div class="divider"></div>-->
    <!--    <h4 class='cener-align'>-->
    <!--      <span>Hardware Reseller</span><span>Network Cabling</span><span>IT Servicing</span>     -->
    <!--      </h4>-->
    <!--    <h5>-->
    <!--      Our market prices are competitive, if not always the cheapest.  We only use, quality authentic components and, suppliers who are highly credible.  -->
    <!--      </h5>-->
    <!--      <div class="divider"></div> -->
    <!--</div>-->
    <!--  </div>-->
    <!--  </div>-->

    <div class="container-fluid">
      <div class="row">

      </div>
    </div>

    <!--<div class='container'>-->
    <!--    <ul id="tab-swipe" class="tabs section scrollspy">-->
    <!--  <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>-->
    <!--  <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>-->
    <!--  <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>-->
    <!--</ul>-->
    <!--<div id="test-swipe-1" class="col s12 blue">Test 1</div>-->
    <!--<div id="test-swipe-2" class="col s12 red">Test 2</div>-->
    <!--<div id="test-swipe-3" class="col s12 green">Test 3</div>-->
    <!--</div>-->
    <div id ='brandTitle' class="container-fluid backGradient center-align">
      <div class="row">
        <div class="col s12 white-text ">
          <h1 class='hide-on-med-and-down'>Brands</h1>
          <h5 class='center-align hide-on-large-only'>Brands</h5>
        </div>
      </div>
    </div>


    <div class="container">


      <div id="product-list" class='section scrollspy'>
        <div class="grid" data-masonry='{ "columnWidth": 5, "itemSelector": ".grid-item", "gutter": 20, "fitWidth": true}'>
          <!--<div class="col s12 m3">-->
          <!--  <ul class="collapsible">-->
          <!--    <li>-->
          <!--      <div class="collapsible-header"><i class="material-icons">computer</i>Desktops</div>-->
          <!--      <div class="collapsible-body">-->
          <!--        <ul>-->
          <!--          <li><a onclick="viewProducts('Dell', 'Desktop')">Dell</a></li>-->
          <!--          <li><a href="#">Hp</a></li>-->
          <!--          <li></li>-->
          <!--          <li></li>-->
          <!--        </ul>-->
          <!--        </div>-->
          <!--    </li>-->
          <!--    <li>-->
          <!--      <div class="collapsible-header"><i class="material-icons">computer</i>Laptops</div>-->
          <!--      <div class="collapsible-body">    <ul>-->
          <!--          <li><a onclick="viewProducts('Dell', 'Notebooks')">Dell</a></li>-->
          <!--          <li><a href="#">Hp</a></li>-->
          <!--          <li></li>-->
          <!--          <li></li>-->
          <!--        </ul></div>-->
          <!--    </li>-->
          <!--    <li>-->
          <!--      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>-->
          <!--      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>-->
          <!--    </li>-->
          <!--  </ul>-->
          <!--</div>-->

          <% brands.forEach(function(brand) { %>

            <div class="grid-item brandImage center-align">
              <a href='<%=brand.href%>'><img src='<%=brand.src%>'></a>
            </div>
            <% }); %>

        </div>
      </div>

      <!--          <a href="/products/Desktop"><div class="col s6 m4 l3 hoverable product-item">
            <h4 class="hide-on-small-only product-title">PC Packages</h4><h5 class="hide-on-med-and-up product-title">PC Packages</h5>
            <img class="responsive-img product-img" src="/images/pc-icon.png">
          </div></a>
          <div class="col s6 m4 l3 hoverable product-item">
            <a href="/products/Components"><h4 class="hide-on-small-only product-title">Components</h4><h5 class="hide-on-med-and-up product-title">Components</h5>
            <img class="responsive-img product-img" src="/images/components.png"></a>
          </div>
          <a href="#">
            <div class="col s6 m4 l3 hoverable product-item">
              <h4 class="hide-on-small-only product-title">Merchandise</h4><h5 class="hide-on-med-and-up product-title">Merchandise</h5>
              <img class="responsive-img product-img" src="/images/cProductsIcon.png">
            </div>
          </a>
          <div class="col s6 m4 l3 hoverable product-item">
            <a href="#"><h4 class="hide-on-small-only product-title">Mobile</h4><h5 class="hide-on-med-and-up product-title">Mobile</h5>
            <img class="responsive-img product-img" src="/images/mobileIcon.png"></a>
          </div>
          <div class="col s6 m4 l3 hoverable product-item"><a href="#">
            <h4 class="hide-on-small-only product-title">Peripherals</h4><h5 class="hide-on-med-and-up product-title">Peripherals</h5>
            <img class="responsive-img product-img" src="/images/peripherals.png"></a>
          </div>
          <div class="col s6 m4 l3 hoverable product-item"><a href="#">
            <h4 class="hide-on-small-only product-title">Networking</h4><h5 class="hide-on-med-and-up product-title">Networking</h5>
            <img class="responsive-img product-img" src="/images/networking.png"></a>
          </div>
          <div class="col s6 m4 l3 hoverable product-item"><a href="#">
            <h4 class="hide-on-small-only product-title">Software</h4><h5 class="hide-on-med-and-up product-title">Software</h5>
            <img class="responsive-img product-img" src="/images/software.png"></a>
          </div>
          <div class="col s6 m4 l3 hoverable product-item"><a href="#">
            <h4 class="hide-on-small-only product-title">Print</h4><h5 class="hide-on-med-and-up product-title">Print</h5>
            <img class="responsive-img product-img" src="/images/printing.png"></a>
          </div>-->


    </div>
    <!-- <div class="container-fluid">
          <div  class="parallax-container">
              <h1 id='quote-title' class='center-align hide-on-med-and-down'>Quote</h1>
              <h5 class='center-align hide-on-large-only'>Quote</h5>
              <div class="parallax"><img src="../images/laptop-color.jpg"></div>
            </div>
    </div> -->


  </div>



  <%include ../partials/footer %>
